/* http://people.debian.org/~igloo/status.css */

body {
    color: black;
    background-color: white;
}

a:link {
    color: blue;
}

.compact {
    text-align: center;
}

.status a:link {
    color: inherit;
}

.status-installed,
.status-uploaded {
    background-color: aquamarine;
}

.status-building,
.status-notforus,
.status-depwait,
.status-needsbuild,
.status-givenback,
.status-skipped,
.status-bduninstallable {
    color: olive;
}

.status-needsbuild {
    background-color: #eeeedd;
}

.status-failed,
.status-buildattempted,
.status-maybefailed {
    background-color: pink;
}

.status-maybesuccessful,
.status-built {
    color: green;
}

